@model Intellect.Models.Exam

@{
    Layout = "AdminLayout";
}

<div class="container-fluid">
    <h4>Create Exam</h4><br />
                        <form method="post" asp-action="CreateExam" asp-controller="Admin">
                            <div asp-validation-summary="ModelOnly"></div>
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" type="text" class="mytext" /><br />
                            <label asp-for="ExamDate">Date</label>
                            <input asp-for="ExamDate" type="date" class="mydate" name="examdate" />
                            <input type="submit" value="Submit" />
                        </form>
   
</div>


